section {
  height: 100vh;
  background-image: url('/assets/4 neutral color 0.png');
  background-size: cover;
}

form {
height: 700px;
width: 500px;
border: 3px solid;
border-radius: 3%;
border-color: #7D7C7C;
backdrop-filter: blur(13px);
}

mat-card {
width: 80%;
height: 10%;
}

mat-form-field {
  width: 100%;
}