form {
    width: 100%;
  }
  
  .search-input {
    width: 100%;
  }
  
  .search {
    width: 100%;
    position: relative; 
  }
  
  .clothingData {
    height: auto;
    max-width: 275px;
    flex: 1 1 100%;
    margin-bottom: 20px;
  }
  
  mat-card {
    height: 100%;
    width: 100%;
  }
  
  .container {
    margin-left: 7px;
  }
  
  button.close-button {
    position: absolute;
    top: 50%; 
    right: 8px; 
    transform: translateY(-50%);
  }

  .add {
    width: 70%;
    margin-top: auto; 
    margin-left: 26.25px;
    margin-bottom: 5%;
  }
  